{% extends "events/layout.html" %}

{% block body %}
<div class="container-fluid align-content-center" style="height: 85vh;">
    <div class="row  justify-content-center">
        <div class="col-lg-5 col-12">
            <div class="auth-container justify-content-center mx-auto p-5 ">
                <h2>Login</h2>
        
                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}
        
                
                <form method="post" class="auth">
                {% csrf_token %}

                <input
                    required
                    type="text"
                    name="username"
                    placeholder="Username or email"
                    value="{{ form.username.value|default:'' }}"
                    autocomplete="username"
                />

                <input
                    required
                    type="password"
                    name="password"
                    placeholder="Password"
                    autocomplete="current-password"
                />

                {% if form.non_field_errors %}
                    <div class="error">
                    {{ form.non_field_errors.0 }}
                    </div>
                {% endif %}
                {% if form.errors %}
                    <div class="error">
                    Invalid credentials or missing fields
                    </div>
                {% endif %}

                <button>Sign in</button>
                </form>


            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
                    
        
            </div>
        </div>
    </div>
</div>
    
{% endblock %}