{% extends "events/layout.html" %}

{% block body %}
<div class="auth-container justify-content-center mx-auto m-5 p-5">
    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    
                <form method="post" class="auth">
            {% csrf_token %}

            <input
              required
              type="text"
              name="username"
              placeholder="Username"
              value="{{ form.username.value|default:'' }}"
              autocomplete="username"
            />

            <input
              required
              type="password"
              name="password1"
              placeholder="Password"
              autocomplete="new-password"
            />

            <input
              required
              type="password"
              name="password2"
              placeholder="Confirm password"
              autocomplete="new-password"
            />

            {% if form.errors %}
              <div class="error">
                {{ form.errors.as_text }}
              </div>
            {% endif %}

            <button>Create account</button>
          </form>


            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
           

        {% for field in form %}
  {% for error in field.errors %}
    <script>
      const field = document.querySelector('[name="{{ field.name }}"]')
      const errorEl = field.parentElement.querySelector('.error')
      errorEl.textContent = "{{ error|escapejs }}"
      errorEl.style.display = "block"
    </script>
  {% endfor %}
{% endfor %}
</div>
{% endblock %}