# .github/workflows/tests.yml
name: Docker tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build images
        run: docker compose -f docker-compose.dev.yml build

      - name: Run tests (same env as local)
        run: |
          docker compose -f docker-compose.dev.yml run --rm web pytest

      - name: Cleanup
        if: always()
        run: docker compose -f docker-compose.dev.yml down -v
