name: Docker tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd "pg_isready -U youruser"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis:7
        ports:
          - 6379:6379

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build images
        run: docker compose -f docker-compose.dev.yml build

      - name: Run tests
        run: |
          docker compose -f docker-compose.dev.yml run --rm \
            --entrypoint "" web \
            sh -c "python manage.py migrate --noinput && pytest"

      - name: Cleanup
        if: always()
        run: docker compose -f docker-compose.dev.yml down -v
